{% extends 'base.html' %}
{% load static %}
{% block title %}Send Email{% endblock %}

{% block content %}
<section class="py-5 justify-content-center">
    <div class="container pb-5">
        <div class="form_cntainer p-5">

            <!-- sing in header -->
            <h1 class="form_heading">Leave Email</h1>
            {% if messages %}
            {% include 'message.html' %}
            {% endif %}

            <form method="POST" class="custom_form">
                {% csrf_token %}
    
                <!-- new password -->
                <div class="form_content_container">
                    <label>New Password</label>
                    <input type="password" name="new_password"required>
                </div>

                <!-- confirm password -->
                <div class="form_content_container">
                    <label>Confirm Password</label>
                    <input type="password" name="reconfirm_password"required>
                </div>

                <input type="hidden" name="user_id" value="{{user_id}}">

                <div class="form_content_container">
                    <button type="submit" class="submit_btn">Send Link</button>
                </div>
            </form>

        </div>
    </div>
</section>
{% endblock %}